* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background:  rgb(250, 249, 249);
  color: #222;
  line-height: 1.6;
}

/* HEADER */
header {
  background: #0f172a;
  color: white;
  padding: 20px 8%;
  position: sticky;
  top: 0;
  z-index: 1000;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.5s;
}

nav ul li a:hover {
  color: #38bdf8;
}

.education-box {
  margin-top: 25px;
  background: rgb(250, 249, 249);
  padding: 18px 20px;
  border-left: 5px ;
  border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.education-box h3 {
  margin-bottom: 6px;
  color: #1e3a8a;
}

.education-box p {
  margin: 4px 0;
  font-size: 15.5px;
}



.resume-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 18px;
  background: #223e7b;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s;
}

.resume-btn:hover {
  background: #000f2f;
}


/* SECTIONS */
section {
  padding: 70px 8%;
}

/* ABOUT */
.about {
  display: flex;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
}

.about img {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #0f172a;
}

.about-text h2 {
  font-size: 32px;
}

.about-text h3 {
  color: #223e7b;
  margin: 10px 0;
}

/* SKILLS */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.skill-box {
  background: rgb(250, 249, 249);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.skill-box h4 {
  color: #1e40af;
  margin-bottom: 10px;
}

/* PROJECT */
.project {
  background: rgb(250, 249, 249);
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  max-width: 900px;
}

/* CONTACT */
.contact-box {
  background: #0f172a;
  color: white;
  padding: 40px;
  border-radius: 12px;
  max-width: 700px;
}

.contact-box a {
  color: #38bdf8;
  text-decoration: none;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
  color: #ccc;
  margin-top: 40px;
}

/* MOBILE */
@media (max-width: 768px) {
  .about {
    flex-direction: column;
    text-align: center;
  }
}

